public/
.hugo_build.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Vim/Neovim
*.swp
*.swo
Session.vim

# Emacs
\#*\#
.#*
