<div class="main-menu flex items-center w-full gap-3 px-6 sm:px-14 md:px-24 lg:px-32 py-4" style="background-color: rgba(255, 255, 255, 0.95); backdrop-filter: blur(6px);">
  {{ $logo := resources.Get "images/header-logo.png" }}
  {{ if $logo }}
    <a href="{{ "" | relLangURL }}" class="flex-shrink-0">
      <img
        src="{{ $logo.RelPermalink }}"
        style="height: 90px; width: auto;"
        class="object-cover rounded nozoom"
        alt="{{ .Site.Title }}">
    </a>
  {{ end }}
  <a href="{{ "" | relLangURL }}" class="flex flex-col shrink-0">
    <span class="text-black text-xl font-semibold whitespace-nowrap">
      {{ .Site.Title | markdownify }}
    </span>
    <span class="text-sm text-gray-600">
      6–10 September, Gdańsk
    </span>
  </a>
  <div class="flex items-center ms-auto">
    <div class="hidden md:flex">
      {{ partial "header/components/desktop-menu.html" . }}
    </div>
    <div class="flex md:hidden">
      {{ partial "header/components/mobile-menu.html" . }}
    </div>
  </div>
</div>